<div class="card">
    <div class="card-header">
        Eliminar
    </div>

    <div class="card-block">
        <p class="card-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            Deseja realmente Eliminar o Cliente?
        </p>
        <td mat-cell *matCellDef="let row"></td>
            <button mat-button color="accent" (click) = "onEliminar()">
                Sim
            </button>
            <button mat-button color="primary" (click) = "onCancelar()">
                Não
            </button>
    </div>
    
</div>
    
